.social-network {
  background-color: #fff;
  border-radius: 3px;
  height: 34px;
  padding: 1px 3px 0 3px;
  width: 97px;
  
  i:hover {
    transform: scale(1.3);
  }
  
  .social-network__facebook--color {
    color: $color-facebook;
    font-size: 2rem;
  }
  
  .social-network__whatsapp--color {
    color: $color-whatsapp;
    font-size: 2rem;
  }
  
  .social-network__linkedin--color {
    color: $color-linkedin;
    font-size: 2rem;
  }
}

#footer {
  background-color: $color1;
  color: #fff;
  
  p {
    margin: 10.5px 0;
  }
}