/*  

Paleta de colores

color1 = #234862
color2 = #357099
color3 = #5196C6
color4 = #94C0DD

*/


/* ###################### Reset CSS ###################### */                

* {
  margin: 0;
  padding: 0; 
}


html, body {
  line-height: 1;
  height: 100%;
}


/* ###################### Global ###################### */


body {
 font-family: 'Lato', sans-serif;
  background-color: #94C0DD;
}


header, footer {
  background-color: #234862;
  color: #fff;
}


h1, h2, h3, h4, h5, h6 {
  text-align: center; 
}


header {
  width: 100%;
  height: 80px;
}


.navbar ul li {
  list-style: none;
}


.navbar ul li {
  float: left;
  margin-right: 25px;
}


.navbar ul li a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}


.table-estudios, .table-obras-sociales, .table-turnos {
  background-color: #5196C6;
}


.ubicacion, .form-turno, .images-container {
  background-color: #357099;
  color: #fff;
}


.logo {
  float: left;
  margin: 21px 0 0 50px;
}


.navbar {
  margin: 25.5px 50px 0 0;
  float: right;
}


footer.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 5rem;
}
 

.footer p {
  margin: 2rem;
  position: relative;
  top: 2rem;
}  


.social-network {
  width: 91px;
  height: 34px;
  background-color: #fff;
  padding: 1px 3px 0 3px;
  border-radius: 3px;
}


.fa-facebook-square {
  color: #1878F2;
  font-size: 2rem;
}


.fa-whatsapp-square {
  color: #5BE578;
  font-size: 2rem;
}


.fa-linkedin {
  color: #0073B1;
  font-size: 2rem;
}


/* ###################### Inicio ###################### */


.main-article {
  text-align: center;
  margin: 4rem;
}


.main-article h1 {
  margin-bottom: 2rem;
  color: #ff2131;
}


.images-container {
  display: flex;
  flex-direction: row;
  height: 25rem;
  align-items: center;
  justify-content: space-around;
}


.images-container .item {
  width: 300px;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


/* ###################### Estudios ###################### */


.estudios-wrapper {
  height: 100vh;
}


.estudios-wrapper h1 {
  margin-top: 40px;
}


.table-estudios {
  width: 90%;
  height: 500px;
  margin: 2.5rem auto;
}


.table-estudios td {
  padding: 0 5px;
  text-align: center;
}


.table-estudios ul li {
  margin-left: 20px;
  list-style-type: square;
}


/* ###################### Turnos ###################### */


.table-turnos {
  width: 60rem;
  margin: 0 auto;
  text-align: center;
}


.table-turnos caption {
  margin-top: 4rem;
}


.table-turnos td {
  width: 5rem;
}


.table-turnos ol {
  list-style: none;
}


.form-turno {
  margin: 0 auto;
  width: 20rem;
  height: 22rem;
  padding: 2rem;
}


.form-turno * {
  float: left;
  margin: 0 1.8rem 1rem 0;
}


.form-wrapper h2 {
  margin-top: 4rem;
}  


#turnos-main {
  height: 1000px;
}


#turnos-main h1 {
  margin: 40px 0;
}


/* ###################### Obras Sociales ###################### */


#obras-sociales {
  height: 100vh;
  padding-top: 1.5rem;
}


#obras-sociales li {
  list-style: none;
}


.table-obras-sociales {
  width: 80%;
  margin: 2rem auto;
}


/* ###################### Contacto ###################### */
  
  
#contacto-container {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  padding: 4rem;
}


.ubicacion, .map {
  float: left;
}


.ubicacion {
  height: 536px;
  margin-right: 4rem;
  padding: 2rem;
  border-radius: 1.5rem;
}


.ubicacion h2 {
  margin-bottom: 2rem;
}


.ubicacion p {
  line-height: 2rem;
}


.info {
  margin-top: 173.5px;
}


.info p {
  display: inline;
  margin-left: 5px;
}


.info i {
  width: 18px;
  text-align: center;
}