/* Paleta de colores */

$color1: #234862;
$color2: #357099;
$color3: #5196C6;
$color4: #94C0DD;


/* Color - utility type */

$color-facebook: #1878F2;
$color-whatsapp: #5BE578;
$color-linkedin: #0073B1; 