/*  
Paleta de colores

color1 = #234862
color2 = #357099
color3 = #5196C6
color4 = #94C0DD

*/


/* Reset CSS */
* {
  margin: 0;
  padding: 0;
}


/* Global */

#footer {
  width: 100%;
  height: 80px;
}  


#footer p {
  margin-top: 32px;
}  



body {
 font-family: 'Lato', sans-serif;
  background-color: #94C0DD;
}


header, footer {
  background-color: #234862;
  color: #fff;
}


h1, h2, h3, h4, h5, h6 {
  text-align: center; 
}


header {
  width: 100%;
  height: 80px;
}


ul li {
  list-style: none;
}


.navbar ul li {
  float: left;
  margin-right: 25px;
}


.navbar ul li a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}


.table-estudios, .table-obras-sociales, .table-turnos {
  background-color: #5196C6;
}


.ubicacion, .form-turno, .images-wrapper {
  background-color: #357099;
  color: #fff;
}


.logo, .navbar, .search {
  float: left;
  margin-left: 25px;
}


.logo {
  margin-top: 21px;
}


.navbar {
  margin-top: 25.5px;
}


.search {
  margin-top: 30.5px;
}


/* Inicio */

.main-article {
  text-align: center;
  margin: 4rem;
}


.main-article h1 {
  margin-bottom: 2rem;
  color: #ff2131;
}


.images-wrapper {
  height: 330px;
  padding: 2rem;
}


.images-wrapper article {
  width: 30%;
  float: left;
  padding: 0 1rem;
}


.images-wrapper img {
  text-align: center;
}


/* Contacto */


#contacto {
  height: 100vh;
  padding: 4rem;
}


.ubicacion, .map {
  float: left;
}


.ubicacion {
  height: 300px;
  margin-right: 4rem;
  padding: 2rem;
  border-radius: 1.5rem;
}


.ubicacion h2 {
  margin-bottom: 2rem;
}


.ubicacion p {
  line-height: 2rem;
}


/* Estudios  */

.estudios-wrapper {
  height: 100vh;
}


.table-estudios {
  width: 80%;
  height: 500px;
  margin: 2.5rem auto;
}


.table-estudios td {
  padding: 0 5px;
  text-align: center;
}


/* Obras Sociales  */

#obras-sociales {
  height: 100vh;
  padding-top: 1.5rem;
}


.table-obras-sociales {
  width: 80%;
  margin: 2rem auto;
}


/* Turnos  */

.table-turnos {
  width: 60rem;
  margin: 0 auto;
}


.form-turno {
  margin: 0 auto;
  width: 25rem;
  padding: 2rem;
}