.estudios-table-container {
  background-color: $color4;
  margin-bottom: 2rem;
  
  .item {
    background-color: $color3;

    &:hover {
      background-color: $color2;
      color: #fff;
      transform: scale(1.05);
    }
  }
  
  
  ul li {
    list-style: none;
  }
}