.main-information {
  animation-name: info_effect;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 0s;
  opacity: 0.5; 
  
  .main-information__title {
    color: #fff;
    font-size: 42px;
    margin: 1rem;
  }
}

@keyframes info_effect {
 
  0% {
    background-color: $color4;  
  }

  50% {
    background-color: $color2;
  }

  100% {
    background-color: $color1;
  }
}

.about-us {
  background-color: $color2;
  color: #fff;
}